.doctor-image{
    height: 400px;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.d-icon{
        margin: 5px;
        padding: 14px;
        color: rgb(155, 155, 155);
        font-size: 30px;
}